<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="stylesheet" href="/styles/index.css" />
		<script type="module" src="/scripts/form-handlers/newGenreFormHandler.js"></script>
	</head>
	<body>
		<%- include("../partials/header", { backAnchor: true }) %>
    <main>
      <h1><%= title %></h1>
      <form action="/genres" method="post" id="new-genre">
        <div class="field">
          <label for="genre">Genre name</label>
          <input type="text" name="genre" id="genre" required />
          <span class="field-message"></span>
        </div>
        <div class="field">
          <label for="description">Description</label>
          <textarea name="description" id="description" cols="40" rows="8"></textarea>
          <span class="char-count">0/280</span>
          <span class="field-message"></span>
        </div>
        <button type="submit">Add genre</button>
      </form>
    </main>
	</body>
</html>
