<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/index.css" />
		<title>Inventory | <%= title %></title>
	</head>
	<body>
		<%- include("../partials/header", { backAnchor: true }) %>
		<h2><%= title %></h2>
		<form action="/genres" method="post" id="new-genre">
			<ul>
				<li>
					<label for="genre-name">Genre name:</label>
					<input type="text" name="name" id="genre-name" required />
				</li>
				<li>
					<label for="genre-description">Desciption:</label>
					<textarea name="description" id="genre-description"></textarea>
				</li>
			</ul>
			<button type="submit">Add genre</button>
		</form>
	</body>
</html>
