<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon" />
		<link rel="stylesheet" href="/sass/main.css" />
		<script type="module" src="/scripts/form-handlers/newBookFormHandler.js"></script>
	</head>
	<body class="site">
		<div id="root" class="site__wrapper">
			<%- include("../partials/header", { backAnchor: true }) %>
			<main class="site__content">
				<h1><%= title %></h1>
				<form action="/books" method="post" id="new-book" class="form">
					<div class="form__field">
						<label class="form__label" for="title">Book title*</label>
						<input
							class="form__input form__input--alphanum"
							type="text"
							name="title"
							id="title"
							required
						/>
						<div class="form__field-message display-none">
							<img src="/assets/icons/warning.png" alt="" class="icon icon--warning" />
							<span class="form__field-message-content"></span>
						</div>
					</div>
					<div class="form__field">
						<label class="form__label" for="author">Author*</label>
						<input
							class="form__input form__input--alphanum"
							type="text"
							name="author"
							id="author"
							placeholder="Start typing to show suggestions"
							required
						/>
						<ul id="author-suggestions" class="form__input-suggestions"></ul>
						<div class="form__field-message display-none">
							<img src="/assets/icons/warning.png" alt="" class="icon icon--warning" />
							<span class="form__field-message-content"></span>
						</div>
					</div>
					<div class="form__field">
						<label class="form__label" for="genres">Genre(s)*</label>
						<input
							class="form__input form__input--alphanum"
							type="text"
							name="genres"
							id="genres"
							placeholder="Start typing to show suggestions"
							required
						/>
						<ul id="genre-suggestions" class="form__input-suggestions"></ul>
						<div class="form__field-message display-none">
							<img src="/assets/icons/warning.png" alt="" class="icon icon--warning" />
							<span class="form__field-message-content"></span>
						</div>
					</div>
					<div class="form__field">
						<label class="form__label" for="publication-year">Publication year</label>
						<input
							class="form__input form__input--alphanum"
							type="number"
							name="publicationYear"
							id="publication-year"
							max="<%= new Date().getFullYear() %>"
						/>
						<div class="form__field-message display-none">
							<img src="/assets/icons/warning.png" alt="" class="icon icon--warning" />
							<span class="form__field-message-content"></span>
						</div>
					</div>
					<div class="form__field form__field--radio">
						<div class="form__radio-option-wrapper">
							<input
								class="form__input form__input--radio"
								type="radio"
								id="fiction"
								name="isFiction"
								value="true"
								checked
							/>
							<label class="form__label--radio" for="fiction">Fiction</label>
						</div>
						<div class="form__radio-option-wrapper">
							<input
								class="form__input form__input--radio"
								type="radio"
								id="non-fiction"
								name="isFiction"
								value="false"
							/>
							<label class="form__label--radio" for="non-fiction">Non-fiction</label>
						</div>
					</div>
					<div class="form__field">
						<label class="form__label" for="description">Blurb</label>
						<textarea
							class="form__input form__input--alphanum form__input--textarea"
							name="description"
							id="description"
							cols="40"
							rows="5"
						></textarea>
						<span class="form__char-count">0/280</span>
						<div class="form__field-message display-none">
							<img src="/assets/icons/warning.png" alt="" class="icon icon--warning" />
							<span class="form__field-message-content"></span>
						</div>
					</div>
					<button type="submit" class="form__button form__button--submit">Add book</button>
				</form>
			</main>
		</div>
	</body>
</html>
