<table>
	<thead>
		<tr>
			<th>Author</th>
			<th>Books:</th>
		</tr>
	</thead>
	<tbody>
		<% authors.map(author => { %>
		<tr>
			<td><a href="authors/<%= author.author_id %>"><%= author.author_name %></a></td>
			<td><%= author.number_of_books %></td>
		</tr>
		<% }) %>
	</tbody>
</table>
