<link rel="stylesheet" href="/styles/table.css">
<table>
  <colgroup>
    <col class="col-country">
    <col class="col-count">
  </colgroup>
	<thead>
		<tr>
			<th>Country</th>
			<th>Books</th>
		</tr>
	</thead>
	<tbody>
		<% countries.map(country => { %>
		<tr>
			<td><a href="countries/<%= country.id %>/<%= country.slug %>"><%= country.name %></a></td>
      <td class="text-centre"><%= country.books %></td>
		</tr>
		<% }) %>
	</tbody>
</table>
