<div class="table">
	<table class="table__element">
		<colgroup>
			<col class="table__col table__col-country" />
			<col class="table__col table__col-count" />
		</colgroup>
		<thead class="table__header">
			<tr class="table__row table__row--header">
				<th class="table__header-cell">Country</th>
				<th class="table__header-cell">Books</th>
			</tr>
		</thead>
		<tbody class="table__body">
			<% countries.map(country => { %>
			<tr class="table__row">
				<td class="table__cell">
					<a href="countries/<%= country.id %>/<%= country.slug %>" class="table__link"
						><%= country.name %></a
					>
				</td>
				<td class="table__cell text-centre"><%= country.books %></td>
			</tr>
			<% }) %>
		</tbody>
	</table>
</div>
