<table>
	<thead>
		<tr>
			<th>Country</th>
			<th>Books</th>
		</tr>
	</thead>
	<tbody>
		<% countries.map(country => { %>
		<tr>
			<td><a href="countries/<%= country.country %>"><%= country.country %></a></td>
			<td><%= country.books %></td>
		</tr>
		<% }) %>
	</tbody>
</table>
