<header class="site__header nav-bar">
	<a
		class="nav-bar__logo"
		href="https://www.theodinproject.com/lessons/node-path-nodejs-inventory-application"
		target="_blank"
		rel="noopener noreferrer"
	>
		<svg
			id="logo-img"
			class="nav-bar__logo-img"
			width="100%"
			height="100%"
			viewBox="0 0 96 96"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			xml:space="preserve"
			xmlns:serif="http://www.serif.com/"
			style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 2"
		>
			<g transform="matrix(0.34309,0,0,0.0866752,-38.5481,-11.3447)">
				<path
					d="M126.929,511.012L158.991,511.012L158.991,1076.95L142.96,1076.95C134.095,1076.95 126.929,1048.04 126.929,1012.58L126.929,511.012ZM126.929,421.142L126.929,356.776C126.929,321.318 134.095,292.41 142.96,292.41L158.991,292.41L158.991,421.142L126.929,421.142ZM181.58,1076.95L181.58,948.216L377.593,948.216L377.593,1012.58C377.593,1048.04 370.427,1076.95 361.562,1076.95L181.58,1076.95ZM377.593,858.346L181.58,858.346L181.58,729.614L377.593,729.614L377.593,858.346ZM377.593,639.744L181.58,639.744L181.58,511.012L377.593,511.012L377.593,639.744ZM377.593,421.142L181.58,421.142L181.58,292.41L361.562,292.41C370.427,292.41 377.593,321.318 377.593,356.776L377.593,421.142Z"
				/>
			</g>
		</svg>
		<span class="nav-bar__logo-text">Inventory</span>
	</a>
	<nav id="nav" class="nav-bar__nav">
		<div class="nav-bar__nav-items-wrapper">
			<ul class="nav-bar__nav-items">
				<li class="nav-bar__nav-item">
					<a class="nav-bar__nav-link" href="/">
						<svg
							class="nav-bar__nav-icon"
							width="100%"
							height="100%"
							viewBox="0 0 96 96"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							xml:space="preserve"
							xmlns:serif="http://www.serif.com/"
							style="
								fill-rule: evenodd;
								clip-rule: evenodd;
								stroke-linejoin: round;
								stroke-miterlimit: 2;
							"
						>
							<g transform="matrix(0.9624,0,0,1.08757,2.1187,-7.23883)">
								<path
									d="M39.361,85.894L14.424,85.894C12.703,85.894 11.308,84.66 11.308,83.137L11.308,39.002C11.308,38.134 11.77,37.317 12.555,36.796L45.805,14.728C46.912,13.993 48.436,13.993 49.543,14.728L82.793,36.796C83.578,37.317 84.04,38.134 84.04,39.002L84.04,83.137C84.04,84.66 82.645,85.894 80.924,85.894L55.986,85.894C54.265,85.894 52.87,84.66 52.87,83.137L52.87,61.953L42.477,61.953L42.477,83.137C42.477,84.66 41.082,85.894 39.361,85.894ZM36.245,80.38L36.245,59.196C36.245,57.673 37.64,56.439 39.361,56.439L55.986,56.439C57.707,56.439 59.102,57.673 59.102,59.196C59.102,59.196 59.102,80.38 59.102,80.38C59.102,80.38 77.808,80.38 77.808,80.38C77.808,80.38 77.808,40.381 77.808,40.381L47.674,20.38L17.54,40.381C17.54,40.381 17.54,80.38 17.54,80.38L36.245,80.38Z"
								/>
							</g>
						</svg>
						<span class="nav-bar__nav-content">Home</span>
					</a>
				</li>
				<li class="nav-bar__nav-item">
					<button
            id="back-anchor"
						class="nav-bar__nav-link <%= (typeof backAnchor !== "undefined" && backAnchor) ? "" : "inactive" %>"
            <%= (typeof backAnchor !== "undefined" && backAnchor) ? onclick="window.history.back()" : "" %>
            onclick="<%= (typeof backAnchor !== "undefined" && backAnchor) ? "window.history.back()" : "return" %>"
          >
						<svg
							class="nav-bar__nav-icon"
							width="100%"
							height="100%"
							viewBox="0 0 96 96"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							xml:space="preserve"
							xmlns:serif="http://www.serif.com/"
							style="
								fill-rule: evenodd;
								clip-rule: evenodd;
								stroke-linejoin: round;
								stroke-miterlimit: 2;
							"
						>
							<g transform="matrix(1.30085,0,0,0.931389,-26.4967,3.77024)">
								<path
									d="M37.543,36.699L48.826,52.458C49.726,53.715 49.726,55.756 48.826,57.013C47.926,58.27 46.465,58.27 45.565,57.013L30.345,35.756C29.444,34.498 29.444,32.458 30.345,31.201L45.565,9.943C46.465,8.686 47.926,8.686 48.826,9.943C49.726,11.2 49.726,13.241 48.826,14.498C48.826,14.498 41.42,24.842 37.543,30.257L65.074,30.257C76.103,30.257 85.058,42.764 85.058,58.168C85.058,73.573 76.103,86.079 65.074,86.079L53.341,86.079C52.068,86.079 51.035,84.636 51.035,82.858C51.035,81.08 52.068,79.637 53.341,79.637L65.074,79.637C73.558,79.637 80.445,70.017 80.445,58.168C80.445,46.319 73.558,36.699 65.074,36.699L37.543,36.699Z"
								/>
							</g>
						</svg>
						<span class="nav-bar__nav-content">Back</span>
					</button>
				</li>
			</ul>
		</div>
		<div class="nav-bar__nav-items-wrapper">
			<h3 class="nav-bar__nav-items-heading">Browse categories</h3>
			<ul id="nav-main" class="nav-bar__nav-items" aria-label="Main navigation">
				<li class="nav-bar__nav-item">
					<a class="nav-bar__nav-link" href="/books">
						<svg
							class="nav-bar__nav-icon"
							width="100%"
							height="100%"
							viewBox="0 0 96 96"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							xml:space="preserve"
							xmlns:serif="http://www.serif.com/"
							style="
								fill-rule: evenodd;
								clip-rule: evenodd;
								stroke-linejoin: round;
								stroke-miterlimit: 2;
							"
						>
							<g transform="matrix(0.938604,0,0,1.01314,2.24753,-1.93342)">
								<path
									d="M14.561,80.022L14.561,18.408C14.561,13.611 18.764,9.717 23.941,9.717L73.418,9.717C78.595,9.717 82.798,13.611 82.798,18.408L82.798,75.895C82.798,77.53 81.367,78.856 79.602,78.856L20.953,78.856L20.953,80.022C20.953,81.55 22.292,82.79 23.941,82.79L62.366,82.79C62.469,82.812 62.574,82.823 62.68,82.823L79.642,82.823C81.406,82.823 82.838,84.15 82.838,85.784C82.838,87.419 81.406,88.746 79.642,88.746L51.941,88.746C51.778,88.746 51.617,88.734 51.46,88.712L23.941,88.712C18.764,88.712 14.561,84.818 14.561,80.022ZM76.406,72.934L76.406,18.408C76.406,16.88 75.067,15.639 73.418,15.639L23.941,15.639C22.292,15.639 20.953,16.88 20.953,18.408L20.953,72.934L76.406,72.934ZM34.829,35.442C33.065,35.442 31.633,34.115 31.633,32.481C31.633,30.847 33.065,29.52 34.829,29.52L62.53,29.52C64.294,29.52 65.726,30.847 65.726,32.481C65.726,34.115 64.294,35.442 62.53,35.442L34.829,35.442Z"
								/>
							</g>
						</svg>
						<span class="nav-bar__nav-content">Books</span>
						<span class="nav-bar__item-count" data-item="books">--</span>
					</a>
				</li>
				<li class="nav-bar__nav-item">
					<a class="nav-bar__nav-link" href="/authors">
						<svg
							class="nav-bar__nav-icon"
							width="100%"
							height="100%"
							viewBox="0 0 96 96"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							xml:space="preserve"
							xmlns:serif="http://www.serif.com/"
							style="
								fill-rule: evenodd;
								clip-rule: evenodd;
								stroke-linejoin: round;
								stroke-miterlimit: 2;
							"
						>
							<path
								d="M16.07,79.921C14.085,77.93 12.858,75.185 12.858,72.155C12.858,71.919 12.885,71.683 12.941,71.454C12.941,71.454 19.376,44.748 22.281,37.783C24.026,33.6 27.713,29.914 31.895,28.169C35.021,26.864 42.091,24.844 48.975,23.018L63.981,8.012C65.153,6.841 67.052,6.841 68.224,8.012L87.988,27.776C89.159,28.948 89.159,30.847 87.988,32.019L78.118,41.888L72.965,47.041C71.141,53.926 69.123,60.991 67.819,64.117C66.074,68.3 62.387,71.986 58.206,73.731C51.245,76.636 24.559,83.071 24.559,83.071C24.329,83.127 24.094,83.155 23.858,83.155C20.819,83.155 18.066,81.92 16.075,79.925L16.07,79.921ZM56.233,24.246L52.646,27.833C52.27,28.208 51.802,28.477 51.289,28.613C44.478,30.408 37.307,32.412 34.206,33.706C31.428,34.866 28.978,37.314 27.819,40.093C25.196,46.38 19.651,69.219 18.868,72.473C18.876,72.6 18.888,72.727 18.906,72.851L40.704,51.054L40.693,51.018L40.594,49.986L40.693,48.954L40.991,47.948L41.489,47.001L42.181,46.153L43.03,45.461L43.977,44.963L44.982,44.665L46.014,44.566L47.046,44.665L48.052,44.963L48.999,45.461L49.847,46.153L50.539,47.001L51.037,47.948L51.335,48.954L51.434,49.986L51.335,51.018L51.037,52.023L50.539,52.97L49.847,53.819L48.999,54.511L48.052,55.009L47.046,55.307L46.014,55.406L44.982,55.307L44.946,55.296L23.14,77.103C23.272,77.122 23.407,77.136 23.542,77.145C26.791,76.361 49.611,70.816 55.895,68.194C58.672,67.034 61.122,64.586 62.281,61.807C63.575,58.706 65.576,51.539 67.371,44.728C67.506,44.215 67.775,43.746 68.15,43.371L71.754,39.767L56.233,24.246ZM75.997,35.524L81.624,29.897L66.103,14.376L60.476,20.003L75.997,35.524Z"
							/>
						</svg>
						<span class="nav-bar__nav-content">Authors</span>
						<span class="nav-bar__item-count" data-item="authors">--</span>
					</a>
				</li>
				<li class="nav-bar__nav-item">
					<a class="nav-bar__nav-link" href="/genres">
						<svg
							class="nav-bar__nav-icon"
							width="100%"
							height="100%"
							viewBox="0 0 96 96"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							xml:space="preserve"
							xmlns:serif="http://www.serif.com/"
							style="
								fill-rule: evenodd;
								clip-rule: evenodd;
								stroke-linejoin: round;
								stroke-miterlimit: 2;
							"
						>
							<g transform="matrix(1.12126,0,0,1.1298,-2.09011,-4.20753)">
								<path
									d="M24.392,63.3C23.747,62.941 23.107,62.564 22.476,62.171C18.94,59.969 15.689,57.313 13.456,54.672C11.748,52.651 10.624,50.6 10.224,48.732L6.229,30.077C4.5,22.007 9.699,14.062 17.831,12.347L37.185,8.264C45.317,6.549 53.322,11.708 55.05,19.778L57.04,29.067C59.581,29.706 61.986,31.012 63.973,32.983L77.964,46.869C83.843,52.703 83.843,62.176 77.964,68.01L64.376,81.495C63.015,82.846 60.946,83.958 58.406,84.73C55.084,85.738 50.899,86.208 46.725,86.144C39.46,86.033 32.304,84.156 29.352,81.227C26.401,78.298 24.51,71.197 24.398,63.986C24.394,63.757 24.393,63.529 24.392,63.3ZM51.494,28.717L49.816,20.883C48.702,15.679 43.54,12.353 38.298,13.459L18.943,17.542C13.7,18.648 10.348,23.77 11.463,28.973L15.458,47.628C15.706,48.786 16.497,50.006 17.556,51.259C19.357,53.39 21.95,55.511 24.775,57.328C25.013,55.561 25.362,53.889 25.823,52.394C26.601,49.872 27.722,47.819 29.082,46.469L32.694,42.884C30.032,43.617 27.456,44.93 24.971,46.857C23.807,47.759 22.124,47.554 21.215,46.399C20.306,45.244 20.513,43.574 21.676,42.672C27.038,38.514 32.743,36.654 38.757,36.867L42.671,32.983C45.145,30.528 48.268,29.106 51.494,28.717ZM34.325,27.558C33.321,26.483 33.386,24.801 34.469,23.805C35.552,22.809 37.246,22.873 38.25,23.948C38.365,24.071 38.564,24.067 38.757,24.096C39.284,24.178 39.874,24.13 40.446,24.003C41.031,23.874 41.599,23.661 42.057,23.365C42.24,23.246 42.44,23.158 42.502,22.991C43.015,21.616 44.555,20.914 45.94,21.422C47.325,21.931 48.033,23.46 47.52,24.834C46.782,26.813 44.381,28.575 41.608,29.187C38.796,29.808 35.854,29.195 34.325,27.558ZM15.132,31.606C14.128,30.531 14.193,28.85 15.276,27.854C16.359,26.858 18.053,26.922 19.057,27.997C19.171,28.119 19.37,28.115 19.564,28.145C20.09,28.226 20.681,28.178 21.252,28.052C21.837,27.923 22.406,27.71 22.863,27.414C23.047,27.295 23.246,27.207 23.309,27.04C23.821,25.665 25.362,24.962 26.747,25.471C28.131,25.98 28.84,27.509 28.327,28.883C27.589,30.862 25.188,32.624 22.415,33.236C19.602,33.857 16.661,33.244 15.132,31.606ZM74.18,64.255C77.97,60.493 77.97,54.385 74.18,50.624L60.189,36.738C56.399,32.977 50.245,32.977 46.454,36.738L32.866,50.224C32.023,51.061 31.422,52.384 30.941,53.947C30.068,56.778 29.693,60.347 29.749,63.903C29.804,67.47 30.294,71.029 31.214,73.825C31.723,75.372 32.328,76.67 33.136,77.472C33.944,78.274 35.252,78.874 36.812,79.38C39.629,80.293 43.214,80.779 46.808,80.834C50.392,80.889 53.988,80.517 56.84,79.651C58.416,79.173 59.748,78.577 60.592,77.74L74.18,64.255ZM48.193,45.726C46.761,46.085 45.305,45.223 44.943,43.802C44.581,42.381 45.45,40.936 46.882,40.577C49.063,40.03 51.866,41.106 53.884,43.147C55.874,45.159 56.921,47.935 56.454,49.993C56.129,51.423 54.697,52.322 53.256,52C51.815,51.678 50.909,50.256 51.233,48.827C51.273,48.652 51.154,48.471 51.065,48.272C50.844,47.777 50.484,47.29 50.065,46.866C49.654,46.451 49.185,46.092 48.7,45.875C48.521,45.796 48.356,45.685 48.193,45.726ZM62.068,59.496C60.636,59.855 59.18,58.993 58.818,57.572C58.456,56.151 59.325,54.706 60.757,54.347C62.938,53.8 65.741,54.876 67.759,56.917C69.749,58.929 70.796,61.705 70.329,63.763C70.004,65.193 68.571,66.092 67.131,65.77C65.69,65.448 64.784,64.026 65.108,62.597C65.148,62.422 65.029,62.241 64.94,62.042C64.719,61.547 64.359,61.06 63.939,60.636C63.529,60.221 63.06,59.862 62.575,59.645C62.396,59.566 62.231,59.455 62.068,59.496ZM48.337,62.402L48.351,62.389C51.645,65.653 55.17,66.498 55.769,68.08C56.368,69.664 55.851,71.883 51.937,71.883L45.859,71.883C43.906,71.883 42.137,71.098 40.854,69.829L40.872,69.811L40.846,69.821C39.567,68.547 38.776,66.791 38.776,64.854L38.776,58.821C38.776,54.937 41.012,54.424 42.608,55.019C44.202,55.613 45.053,59.111 48.343,62.381L48.337,62.402Z"
								/>
							</g>
						</svg>
						<span class="nav-bar__nav-content">Genres</span>
						<span class="nav-bar__item-count" data-item="genres">--</span>
					</a>
				</li>
				<li class="nav-bar__nav-item">
					<a class="nav-bar__nav-link" href="/decades">
						<svg
							class="nav-bar__nav-icon"
							width="100%"
							height="100%"
							viewBox="0 0 96 96"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							xml:space="preserve"
							xmlns:serif="http://www.serif.com/"
							style="
								fill-rule: evenodd;
								clip-rule: evenodd;
								stroke-linejoin: round;
								stroke-miterlimit: 2;
							"
						>
							<path
								d="M83.994,26.169L83.994,72.655C83.994,79.692 78.28,85.406 71.243,85.406L24.757,85.406C17.72,85.406 12.006,79.692 12.006,72.655L12.006,26.169C12.006,19.132 17.72,13.418 24.757,13.418L71.243,13.418C78.28,13.418 83.994,19.132 83.994,26.169ZM77.994,27.454L77.994,26.169C77.994,22.443 74.969,19.418 71.243,19.418L24.757,19.418C21.031,19.418 18.006,22.443 18.006,26.169L18.006,27.454L77.994,27.454ZM18.006,33.454L18.006,72.655C18.006,76.381 21.031,79.406 24.757,79.406L71.243,79.406C74.969,79.406 77.994,76.381 77.994,72.655L77.994,33.454L18.006,33.454ZM31,42.93C33.76,42.93 36,45.17 36,47.93C36,50.689 33.76,52.93 31,52.93C28.24,52.93 26,50.689 26,47.93C26,45.17 28.24,42.93 31,42.93ZM65,42.93C67.76,42.93 70,45.17 70,47.93C70,50.689 67.76,52.93 65,52.93C62.24,52.93 60,50.689 60,47.93C60,45.17 62.24,42.93 65,42.93ZM31,59.93C33.76,59.93 36,62.17 36,64.93C36,67.689 33.76,69.93 31,69.93C28.24,69.93 26,67.689 26,64.93C26,62.17 28.24,59.93 31,59.93ZM48,42.93C50.76,42.93 53,45.17 53,47.93C53,50.689 50.76,52.93 48,52.93C45.24,52.93 43,50.689 43,47.93C43,45.17 45.24,42.93 48,42.93ZM48,59.93C50.76,59.93 53,62.17 53,64.93C53,67.689 50.76,69.93 48,69.93C45.24,69.93 43,67.689 43,64.93C43,62.17 45.24,59.93 48,59.93Z"
							/>
						</svg>
						<span class="nav-bar__nav-content">Decades</span>
						<span class="nav-bar__item-count" data-item="decades">--</span>
					</a>
				</li>
				<li class="nav-bar__nav-item">
					<a class="nav-bar__nav-link" href="/countries">
						<svg
							class="nav-bar__nav-icon"
							width="100%"
							height="100%"
							viewBox="0 0 96 96"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							xml:space="preserve"
							xmlns:serif="http://www.serif.com/"
							style="
								fill-rule: evenodd;
								clip-rule: evenodd;
								stroke-linejoin: round;
								stroke-miterlimit: 2;
							"
						>
							<g transform="matrix(0.158227,0,0,0.158227,7.49391,7.49391)">
								<path
									d="M-3.122,256C-3.122,113.85 113.85,-3.122 256,-3.122C398.15,-3.122 515.122,113.85 515.122,256C515.122,398.15 398.15,515.122 256,515.122C113.85,515.122 -3.122,398.15 -3.122,256ZM410.436,206.9C410.433,206.906 410.43,206.912 410.427,206.918L411.3,208.322L410.436,206.9ZM411,208.922L413.792,207.196C406.299,222.184 393.408,233.487 378.213,239.098L389.708,250.592C398.292,259.177 403.122,270.874 403.122,283C403.122,303.106 390.043,320.736 371.122,326.746L371.122,330.6C371.122,348.577 365.3,366.139 354.497,380.474L328.902,414.567C319.21,427.561 304.084,435.122 288,435.122C259.776,435.122 236.878,412.224 236.878,384C236.878,384 236.878,339.122 236.878,339.122L208,339.122C170.978,339.122 140.878,309.022 140.878,272L140.878,244C140.878,225.42 149.641,207.893 164.526,196.703L203.927,167.202C212.869,160.496 223.622,156.878 234.8,156.878C240.342,156.878 245.776,157.733 251.09,159.539L283.074,170.234C286.819,171.452 290.911,171.629 294.743,170.671L329.041,162.072L329.062,162.066C331.371,161.505 332.978,159.371 332.978,157C332.978,155.264 332.121,153.645 330.695,152.715L330.675,152.702C330.675,152.702 306.298,136.543 306.299,136.543C298.365,143.341 288.266,147.122 277.8,147.122C271.024,147.122 264.354,145.514 258.224,142.502L258.204,142.492C258.204,142.492 247.431,137.106 247.431,137.105C220.791,173.525 159.888,149.576 168.428,102.345L168.432,102.323L171.932,83.723C171.934,83.711 171.936,83.699 171.939,83.688C172.237,82.194 172.064,80.628 171.62,79.134C171.62,79.134 163.727,55.367 163.728,55.367C87.804,90.272 35.122,166.994 35.122,256C35.122,377.976 134.024,476.878 256,476.878C377.976,476.878 476.878,377.976 476.878,256C476.878,240.104 475.245,224.662 472.063,209.759L426.757,198.432C423.729,197.695 420.549,198.566 418.408,200.708C416.643,202.472 415.232,204.412 414.084,206.613L413.799,207.182L411,208.922ZM381.717,192.598L379.808,189.504C382.761,183.596 386.563,178.219 391.309,173.576C402.982,161.914 420.002,157.209 435.952,161.17L435.962,161.173L458.132,166.754C423.827,89.198 346.25,35.122 256,35.122C236.538,35.122 217.604,37.672 199.613,42.356L207.858,67C210.426,74.597 210.966,82.622 209.575,90.54L209.572,90.558L206.172,109.258L206.169,109.272C204.914,116.01 214.107,119.286 217.477,113.274C225.689,98.424 244.203,92.767 259.392,100.306L275.396,108.308C276.155,108.687 276.978,108.878 277.8,108.878C279.266,108.878 280.672,108.313 281.692,107.292L285.192,103.792C294.75,94.235 309.593,92.773 320.832,100.302L351.734,120.904C363.8,128.984 371.122,142.564 371.122,157C371.122,176.932 357.546,194.28 338.26,199.128L303.964,207.727C293.085,210.473 281.572,210.05 270.91,206.461L238.91,195.761C238.894,195.755 238.877,195.75 238.861,195.744C237.508,195.266 236.153,195.122 234.8,195.122C231.991,195.122 229.176,195.989 226.929,197.755C226.91,197.77 226.891,197.785 226.871,197.799L187.473,227.298C182.254,231.212 179.122,237.389 179.122,244L179.122,272C179.122,287.973 192.027,300.878 208,300.878L240,300.878C259.427,300.878 275.122,316.573 275.122,336L275.122,384C275.122,391.083 280.917,396.878 288,396.878C292.024,396.878 295.888,394.946 298.303,391.726L323.9,357.63C329.697,349.869 332.878,340.425 332.878,330.7L332.878,318.6C332.878,305.967 341.458,294.914 353.753,291.869L359.045,290.571C362.459,289.716 364.878,286.657 364.878,283.1C364.878,281.065 364.121,279.164 362.647,277.761C362.629,277.743 362.61,277.726 362.592,277.708L322.392,237.508C316.898,232.013 315.341,223.771 318.208,216.724C321.078,209.669 328.128,204.878 335.9,204.878L355.6,204.878C365.722,204.878 374.946,199.139 379.514,190.091L379.799,189.521L381.717,192.598Z"
								/>
							</g>
						</svg>
						<span class="nav-bar__nav-content">Countries</span>
						<span class="nav-bar__item-count" data-item="countries">--</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="nav-bar__nav-items-wrapper">
			<h3 class="nav-bar__nav-items-heading">Add items</h3>
			<ul id="nav-secondary" class="nav-bar__nav-items" aria-label="Add new items">
				<li class="nav-bar__nav-item">
					<a class="nav-bar__nav-link" href="/books/new">
						<svg
							class="nav-bar__nav-icon"
							width="100%"
							height="100%"
							viewBox="0 0 96 96"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							xml:space="preserve"
							xmlns:serif="http://www.serif.com/"
							style="
								fill-rule: evenodd;
								clip-rule: evenodd;
								stroke-linejoin: round;
								stroke-miterlimit: 2;
							"
						>
							<g transform="matrix(0.938604,0,0,1.01314,2.24753,-1.93342)">
								<path
									d="M54.004,88.746L51.941,88.746C51.778,88.746 51.617,88.734 51.46,88.712L23.941,88.712C18.764,88.712 14.561,84.818 14.561,80.022L14.561,18.408C14.561,13.611 18.764,9.717 23.941,9.717L73.418,9.717C78.595,9.717 82.798,13.611 82.798,18.408L82.798,51.648C81.445,51.459 80.059,51.361 78.649,51.361C77.894,51.361 77.146,51.389 76.406,51.444L76.406,18.408C76.406,16.88 75.067,15.639 73.418,15.639L23.941,15.639C22.292,15.639 20.953,16.88 20.953,18.408L20.953,72.934L51.299,72.934C51.068,74.266 50.948,75.632 50.948,77.024C50.948,77.64 50.972,78.251 51.018,78.856L20.953,78.856L20.953,80.022C20.953,81.55 22.292,82.79 23.941,82.79L51.651,82.79C52.171,84.884 52.968,86.881 54.004,88.746ZM34.829,35.442C33.065,35.442 31.633,34.115 31.633,32.481C31.633,30.847 33.065,29.52 34.829,29.52L62.53,29.52C64.294,29.52 65.726,30.847 65.726,32.481C65.726,34.115 64.294,35.442 62.53,35.442L34.829,35.442ZM78.649,57.283C90.409,57.283 99.957,66.129 99.957,77.024C99.957,87.919 90.409,96.765 78.649,96.765C66.889,96.765 57.341,87.919 57.341,77.024C57.341,66.129 66.889,57.283 78.649,57.283ZM78.649,63.206C70.417,63.206 63.733,69.398 63.733,77.024C63.733,84.651 70.417,90.843 78.649,90.843C86.881,90.843 93.565,84.651 93.565,77.024C93.565,69.398 86.881,63.206 78.649,63.206ZM75.453,79.985L70.126,79.985C68.362,79.985 66.929,78.658 66.929,77.024C66.929,75.39 68.362,74.063 70.126,74.063L75.453,74.063L75.453,69.128C75.453,67.494 76.885,66.167 78.649,66.167C80.413,66.167 81.845,67.494 81.845,69.128L81.845,74.063L87.172,74.063C88.936,74.063 90.368,75.39 90.368,77.024C90.368,78.658 88.936,79.985 87.172,79.985L81.845,79.985L81.845,84.92C81.845,86.555 80.413,87.882 78.649,87.882C76.885,87.882 75.453,86.555 75.453,84.92L75.453,79.985Z"
								/>
							</g>
						</svg>
						<span class="nav-bar__nav-content">New book</span>
					</a>
				</li>
				<li class="nav-bar__nav-item">
					<a class="nav-bar__nav-link" href="/authors/new">
						<svg
							class="nav-bar__nav-icon"
							width="100%"
							height="100%"
							viewBox="0 0 96 96"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							xml:space="preserve"
							xmlns:serif="http://www.serif.com/"
							style="
								fill-rule: evenodd;
								clip-rule: evenodd;
								stroke-linejoin: round;
								stroke-miterlimit: 2;
							"
						>
							<path
								d="M50.069,76.399C39.625,79.438 24.559,83.071 24.559,83.071C24.329,83.127 24.094,83.155 23.858,83.155C20.819,83.155 18.066,81.92 16.075,79.925L16.07,79.921C14.085,77.93 12.858,75.185 12.858,72.155C12.858,71.919 12.885,71.683 12.941,71.454C12.941,71.454 19.376,44.748 22.281,37.783C24.026,33.6 27.713,29.914 31.895,28.169C35.021,26.864 42.091,24.844 48.975,23.018L63.981,8.012C65.153,6.841 67.052,6.841 68.224,8.012L87.988,27.776C89.159,28.948 89.159,30.847 87.988,32.019L78.118,41.888L72.965,47.041C72.667,48.165 72.364,49.294 72.06,50.41C69.676,50.78 67.398,51.474 65.274,52.446C65.969,49.985 66.685,47.331 67.371,44.728C67.506,44.215 67.775,43.746 68.15,43.371L71.754,39.767L56.233,24.246L52.646,27.833C52.27,28.208 51.802,28.477 51.289,28.613C44.478,30.408 37.307,32.412 34.206,33.706C31.428,34.866 28.978,37.314 27.819,40.093C25.196,46.38 19.651,69.219 18.868,72.473C18.876,72.6 18.888,72.727 18.906,72.851L40.704,51.054L40.693,51.018L40.594,49.986L40.693,48.954L40.991,47.948L41.489,47.001L42.181,46.153L43.03,45.461L43.977,44.963L44.982,44.665L46.014,44.566L47.046,44.665L48.052,44.963L48.999,45.461L49.847,46.153L50.539,47.001L51.037,47.948L51.335,48.954L51.434,49.986L51.335,51.018L51.037,52.023L50.539,52.97L49.847,53.819L48.999,54.511L48.052,55.009L47.046,55.307L46.014,55.406L44.982,55.307L44.946,55.296L23.14,77.103C23.272,77.122 23.407,77.136 23.542,77.145C26.177,76.509 41.684,72.742 50.803,69.942C50.322,71.917 50.068,73.98 50.068,76.103C50.068,76.202 50.068,76.3 50.069,76.399ZM75.997,35.524L81.624,29.897L66.103,14.376L60.476,20.003L75.997,35.524ZM76.068,56.103C87.106,56.103 96.068,65.064 96.068,76.103C96.068,87.141 87.106,96.103 76.068,96.103C65.029,96.103 56.068,87.141 56.068,76.103C56.068,65.064 65.029,56.103 76.068,56.103ZM76.068,62.103C68.341,62.103 62.068,68.376 62.068,76.103C62.068,83.829 68.341,90.103 76.068,90.103C83.794,90.103 90.068,83.829 90.068,76.103C90.068,68.376 83.794,62.103 76.068,62.103ZM73.068,79.103L68.068,79.103C66.412,79.103 65.068,77.758 65.068,76.103C65.068,74.447 66.412,73.103 68.068,73.103L73.068,73.103L73.068,68.103C73.068,66.447 74.412,65.103 76.068,65.103C77.723,65.103 79.068,66.447 79.068,68.103L79.068,73.103L84.068,73.103C85.723,73.103 87.068,74.447 87.068,76.103C87.068,77.758 85.723,79.103 84.068,79.103L79.068,79.103L79.068,84.103C79.068,85.758 77.723,87.103 76.068,87.103C74.412,87.103 73.068,85.758 73.068,84.103L73.068,79.103Z"
							/>
						</svg>
						<span class="nav-bar__nav-content">New author</span>
					</a>
				</li>
				<li class="nav-bar__nav-item">
					<a class="nav-bar__nav-link" href="/genres/new">
						<svg
							class="nav-bar__nav-icon"
							width="100%"
							height="100%"
							viewBox="0 0 96 96"
							version="1.1"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							xml:space="preserve"
							xmlns:serif="http://www.serif.com/"
							style="
								fill-rule: evenodd;
								clip-rule: evenodd;
								stroke-linejoin: round;
								stroke-miterlimit: 2;
							"
						>
							<g transform="matrix(1.12126,0,0,1.1298,-2.09011,-4.20753)">
								<path
									d="M51.997,85.935C50.283,86.102 48.503,86.171 46.725,86.144C39.46,86.033 32.304,84.156 29.352,81.227C26.401,78.298 24.51,71.197 24.398,63.986C24.394,63.757 24.393,63.529 24.392,63.3C23.747,62.941 23.107,62.564 22.476,62.171C18.94,59.969 15.689,57.313 13.456,54.672C11.748,52.651 10.624,50.6 10.224,48.732L6.229,30.077C4.5,22.007 9.699,14.062 17.831,12.347L37.185,8.264C45.317,6.549 53.322,11.708 55.05,19.778L57.04,29.067C59.581,29.706 61.986,31.012 63.973,32.983L77.964,46.869C79.185,48.081 80.153,49.45 80.867,50.911C78.103,49.4 74.995,48.433 71.692,48.154L60.189,36.738C56.399,32.977 50.245,32.977 46.454,36.738L32.866,50.224C32.023,51.061 31.422,52.384 30.941,53.947C30.068,56.778 29.693,60.347 29.749,63.903C29.804,67.47 30.294,71.029 31.214,73.825C31.723,75.372 32.328,76.67 33.136,77.472C33.944,78.274 35.252,78.874 36.812,79.38C39.629,80.293 43.214,80.779 46.808,80.834C47.438,80.844 48.067,80.84 48.693,80.823C49.567,82.675 50.682,84.392 51.997,85.935ZM51.494,28.717L49.816,20.883C48.702,15.679 43.54,12.353 38.298,13.459L18.943,17.542C13.7,18.648 10.348,23.77 11.463,28.973L15.458,47.628C15.706,48.786 16.497,50.006 17.556,51.259C19.357,53.39 21.95,55.511 24.775,57.328C25.013,55.561 25.362,53.889 25.823,52.394C26.601,49.872 27.722,47.819 29.082,46.469L32.694,42.884C30.032,43.617 27.456,44.93 24.971,46.857C23.807,47.759 22.124,47.554 21.215,46.399C20.306,45.244 20.513,43.574 21.676,42.672C27.038,38.514 32.743,36.654 38.757,36.867L42.671,32.983C45.145,30.528 48.268,29.106 51.494,28.717ZM15.132,31.606C14.128,30.531 14.193,28.85 15.276,27.854C16.359,26.858 18.053,26.922 19.057,27.997C19.171,28.119 19.37,28.115 19.564,28.145C20.09,28.226 20.681,28.178 21.252,28.052C21.837,27.923 22.406,27.71 22.863,27.414C23.047,27.295 23.246,27.207 23.309,27.04C23.821,25.665 25.362,24.962 26.747,25.471C28.131,25.98 28.84,27.509 28.327,28.883C27.589,30.862 25.188,32.624 22.415,33.236C19.602,33.857 16.661,33.244 15.132,31.606ZM34.325,27.558C33.321,26.483 33.386,24.801 34.469,23.805C35.552,22.809 37.246,22.873 38.25,23.948C38.365,24.071 38.564,24.067 38.757,24.096C39.284,24.178 39.874,24.13 40.446,24.003C41.031,23.874 41.599,23.661 42.057,23.365C42.24,23.246 42.44,23.158 42.502,22.991C43.015,21.616 44.555,20.914 45.94,21.422C47.325,21.931 48.033,23.46 47.52,24.834C46.782,26.813 44.381,28.575 41.608,29.187C38.796,29.808 35.854,29.195 34.325,27.558ZM46.531,71.883L45.859,71.883C43.906,71.883 42.137,71.098 40.854,69.829L40.872,69.811L40.846,69.821C39.567,68.547 38.776,66.791 38.776,64.854L38.776,58.821C38.776,54.937 41.012,54.424 42.608,55.019C44.19,55.608 45.04,59.057 48.267,62.305C47.139,65.01 46.517,67.976 46.517,71.084C46.517,71.351 46.522,71.618 46.531,71.883ZM48.193,45.726C46.761,46.085 45.305,45.223 44.943,43.802C44.581,42.381 45.45,40.936 46.882,40.577C49.063,40.03 51.866,41.106 53.884,43.147C55.874,45.159 56.921,47.935 56.454,49.993C56.129,51.423 54.697,52.322 53.256,52C51.815,51.678 50.909,50.256 51.233,48.827C51.273,48.652 51.154,48.471 51.065,48.272C50.844,47.777 50.484,47.29 50.065,46.866C49.654,46.451 49.185,46.092 48.7,45.875C48.521,45.796 48.356,45.685 48.193,45.726ZM69.705,53.381C79.55,53.381 87.543,61.313 87.543,71.084C87.543,80.854 79.55,88.786 69.705,88.786C59.861,88.786 51.868,80.854 51.868,71.084C51.868,61.313 59.861,53.381 69.705,53.381ZM69.705,58.692C62.814,58.692 57.219,64.245 57.219,71.084C57.219,77.923 62.814,83.475 69.705,83.475C76.597,83.475 82.191,77.923 82.191,71.084C82.191,64.245 76.597,58.692 69.705,58.692ZM67.03,73.739L62.571,73.739C61.094,73.739 59.895,72.549 59.895,71.084C59.895,69.618 61.094,68.428 62.571,68.428L67.03,68.428L67.03,64.003C67.03,62.537 68.229,61.347 69.705,61.347C71.182,61.347 72.381,62.537 72.381,64.003L72.381,68.428L76.84,68.428C78.317,68.428 79.516,69.618 79.516,71.084C79.516,72.549 78.317,73.739 76.84,73.739L72.381,73.739L72.381,78.165C72.381,79.63 71.182,80.82 69.705,80.82C68.229,80.82 67.03,79.63 67.03,78.165L67.03,73.739Z"
								/>
							</g>
						</svg>
						<span class="nav-bar__nav-content">New genre</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
<script type="module" src="/scripts/activeLinkHandler.js"></script>
<script type="module" src="/scripts/getItemCounts.js"></script>
