<div id="secondary-nav-container">
	<button id="toggle-secondary-nav">Add item +</button>
	<nav style="display: none" id="secondary-nav">
		<a href="/authors/new">New author</a>
		<a href="/books/new">New book</a>
		<a href="/genres/new">New genre</a>
	</nav>
</div>
<script>
	const secondaryNavContainer = document.querySelector("#secondary-nav-container");
	const secondaryNavButton = document.querySelector("#toggle-secondary-nav");
	const secondaryNav = document.querySelector("#secondary-nav");

	secondaryNavButton.addEventListener("mouseenter", () => {
		secondaryNav.style.display = "block";
	});

	secondaryNavButton.addEventListener("click", () => {
		secondaryNav.style.display = "block";
	});

	secondaryNavContainer.addEventListener("mouseleave", () => {
		secondaryNav.style.display = "none";
	});
</script>
