<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="stylesheet" href="./styles.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<nav>
			<a href="/">Home</a>
			<a href="/authors">Authors</a>
			<a href="/genres">Genres</a>
		</nav>
		<ul>
			<h2>All genres</h2>
			<% genres.map((genre) => { %>
			<li><%= genre.genre %></li>
			<% }) %>
		</ul>
	</body>
</html>
