<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
<link rel="shortcut icon" href="assets/logo.svg" type="image/x-icon">
		<link rel="stylesheet" href="/styles/index.css" />
	</head>
	<body>
<div id="root">
		<%- include("partials/header", { backAnchor: true }) %>
		<h1>404 | Page not found</h1>
	</div>
</body>
</html>
