<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= country %></title>
		<link rel="stylesheet" href="/styles/index.css" />
	</head>
	<body>
		<%- include("../partials/header", { backAnchor: true }) %>
    <main>
      <h1><%= country %></h1>
      <%- include("../partials/booksTable", { books, caption: `Books from ${country}` }) %>
    </main>
	</body>
</html>
