<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= country %></title>
		<link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon" />
		<link rel="stylesheet" href="/sass/main.css" />
	</head>
	<body class="site">
		<div id="root" class="site__wrapper">
			<%- include("../partials/navigation", { backAnchor: true }) %>
			<main class="site__content">
				<h1><%= country %></h1>
				<%- include("../partials/booksTable", { books, caption: `Books from ${country}` }) %>
			</main>
		</div>
	</body>
</html>
