@use "../util" as u;

.form {
	max-width: 51ch;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&__fieldset {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: flex-start;
		column-gap: 1rem;
		padding: 0;
		border: none;

		@include u.breakpoint-down(xsmall) {
			grid-template-columns: 1fr;
		}

		& > .form__field-message {
			grid-column: span 2;
			top: 100%;
		}

		&:has(> .form__field-message) {
			position: relative;
			transition: margin-bottom 200ms ease-out;
		}

		&:has(> .form__field-message):not(:has(> .form__field-message.display-none)) {
			margin-bottom: 1.6rem;
			transition: margin-bottom 400ms 200ms ease-in;
		}
	}

	&__field {
		transition: margin-bottom 200ms ease-out;

		&--radio {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0.2rem;

			margin-top: 1rem;
			border: solid 1px var(--background-secondary);
			border-radius: var(--br-mid);
			padding: 0.2rem;

			background-color: var(--background-primary-shade);
		}

		&:has(.form__input--alphanum:focus) .form__label,
		&:has(.form__input--alphanum:focus-visible) .form__label {
			color: var(--cl-primary);
			transform: translate(0.5rem);
		}

		&:has(.form__input-suggestions),
		&:has(.form__char-count) {
			position: relative;
		}

		&:has(.form__char-count) {
			margin-bottom: 1.25rem;
		}

		&:has(.form__field-message):not(:has(.form__field-message.display-none)) {
			margin-bottom: 2rem;
			transition: margin-bottom 400ms 200ms ease-in;
		}
	}

	&__field-message {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		padding: 0.5rem 0.5rem;

		font-size: 0.8rem;
		font-weight: 900;
		line-height: 0.85rem;

		animation: fade 400ms linear 200ms;
		animation-fill-mode: backwards;

		& > * {
			display: inline-block;
		}

		& a {
			margin-left: 0.25rem;
			color: var(--cl-primary);
		}
	}

	&__field-message-content {
		color: var(--cl-error);
	}

	&__label {
		display: inline-block;
		padding: 0 0.5rem;

		font-size: 0.8rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.05rem;
		color: var(--foreground-tint);
		background-color: var(--background-primary);
		transform: translate(0.5rem, 0.75rem);

		transition: color 400ms, transform 200ms ease-out;

		&--radio {
			display: flex;
			justify-content: center;
			align-items: center;

			border: solid 1px transparent;
			border-radius: 0.4rem;
			padding: 0.5rem 1rem;
			height: 100%;

			text-align: center;
			color: var(--midground);

			transition: 900ms;
			cursor: pointer;

			&:hover {
				background-color: var(--background-secondary);
				color: var(--foreground-tint);
				transition: 300ms;
			}
		}
	}

	&__input {
		box-sizing: border-box;
		display: block;
		width: 100%;

		&--textarea {
			resize: none;

			@include u.breakpoint-down(xsmall) {
				min-height: u.rem(200);
			}
		}

		&--alphanum {
			border: solid 1px var(--background-secondary);
			border-radius: var(--br-mid);
			padding: 1rem;

			font-size: 1rem;

			background-color: var(--background-primary);
			box-shadow: 0 1px 2px hsl(0, 0%, 0%, 0.2);

			transition: border-color 400ms, box-shadow 800ms;

			&:focus,
			&:focus-visible {
				outline: none;
				border-color: var(--cl-primary);
				box-shadow: 0 1px 4px hsl(0, 0%, 0%, 0.3);
			}
		}

		&--radio {
			position: absolute;
			opacity: 0;

			&:checked + .form__label--radio {
				border: solid 1px var(--background-secondary-shade);
				color: var(--foreground);
				background-color: var(--background-primary);
				box-shadow: 0 1px 2px hsl(0, 0%, 0%, 0.2);
				transition: 200ms;
			}

			&:focus-visible + .form__label--radio {
				border: solid 1px var(--cl-primary);
				color: var(--cl-primary);
				text-shadow: 0 1px 2px hsl(0, 0%, 0%, 0.2);
				box-shadow: 0 1px 2px hsl(0, 0%, 0%, 0.2), 0 1px 2px hsl(0, 0%, 0%, 0.4) inset;
			}
		}
	}

	&__input-suggestions {
		position: absolute;
		z-index: 1;
		overflow: hidden;

		box-sizing: border-box;
		border: solid 1px var(--cl-primary);
		border-radius: var(--br-mid);
		margin-top: 0.5rem;
		padding: 0;
		width: 100%;

		background-color: var(--background-primary);
		box-shadow: 0 1px 4px hsl(0, 0%, 0%, 0.3);

		&:not(:has(li)) {
			display: none;
		}

		& li {
			list-style: none;
			padding: 0.5rem 1rem;
		}
	}

	&__input-suggestion {
		color: var(--midground);
		transition: 400ms;
		cursor: pointer;

		& a {
			color: var(--cl-primary);
		}

		&--selected {
			color: var(--background-primary);
			background-color: var(--cl-primary);
			transition: 100ms;
		}
	}

	&__char-count {
		position: absolute;
		right: 1rem;
		padding: 0.5rem 0;
		font-size: 0.8rem;

		&--limit-exceeded {
			font-weight: 900;
		}
	}

	&__button {
		&--submit {
			border: solid 1px var(--cl-primary);
			color: var(--background-primary);
			background-color: var(--cl-primary);
		}

		&--delete {
			border: solid 1px var(--cl-primary);
			color: var(--background-primary);
			background-color: var(--cl-error);

			&:hover,
			&:focus-visible {
				border: solid 1px var(--cl-error);
				color: var(--cl-error);
			}
		}
	}
}

.icon--warning {
	width: 2ch;
	height: 2ch;
	fill: var(--cl-error);
}
