main {
	display: flex;
	flex-direction: column;
}

.tables-container {
	display: flex;
	gap: 2rem;
}

.tables-container .table {
	height: fit-content;
}

.table {
	position: sticky;
	inset: 0;
	overflow: scroll;
	border: solid 1px var(--background-secondary);
	border-radius: var(--br-mid);
	box-shadow: 0 1px 2px hsl(0, 50%, 50%, 0.2);

	&__element {
		table-layout: auto;
		border-collapse: separate;
		border-spacing: 0;
		width: 100%;
		text-align: left;
	}

	&__caption {
		position: absolute;
		opacity: 0;
	}

	&__header {
		position: sticky;
		top: 0;
		background-color: var(--background-primary-shade);
	}

	&__header-cell {
		padding: 0.75rem 1rem;
		border-bottom: solid 1px var(--background-secondary);

		font-weight: 400;
		font-size: 0.9rem;
		text-transform: uppercase;
		letter-spacing: 0.05rem;
		color: var(--foreground-tint);
	}

	&__body {
		overflow: scroll;
	}

	&__row {
		margin: 0.5rem;
		transition: 800ms;

		&:not(.table__row--header):hover {
			background-color: var(--background-primary-shade);
			transition: 200ms;
		}

		&:not(:last-child) .table__cell {
			border-bottom: 1px solid var(--background-secondary);
		}

		& .table__cell:first-child {
			font-weight: 600;
		}
	}

	&__cell {
		padding: 0.5rem 1rem;
	}

	&__link {
		display: inline-block;
		border-bottom: solid 1px transparent;
		border-top: solid 1px transparent;
		text-decoration: none;
		color: var(--foreground);
		transition: 400ms;

		&:not(.table__link--genre):hover {
			border-bottom: solid 1px var(--foreground);
		}

		&--genre {
			border: 1px solid var(--background-secondary);
			border-radius: var(--br-heavy);
			margin: 0.1rem 0;
			padding: 0.25rem 0.75rem;

			font-size: 0.75rem;
			font-weight: 700;
			text-decoration: none;
			text-wrap: nowrap;
			color: var(--foreground);
			background-color: var(--background-primary-shade);

			transition: 400ms;

			&:hover {
				border: 1px solid var(--midground);
				background-color: var(--background-secondary);
			}
		}
	}

	&__col {
		&-title {
			width: 16rem;
		}
		&-count {
			width: 4rem;
		}
		&-author {
			width: 12rem;
		}
		&-year {
			width: 4rem;
		}
		&-country {
			width: auto;
		}
		&-genre {
			width: auto;
		}
		&-genres {
			width: auto;
		}
	}
}

@media (width <= 56rem) {
	tr th,
	tr td {
		display: none;
	}

	tr th:first-child,
	tr td:first-child {
		display: table-cell;
		width: 100%;
	}
}
