input,
button,
textarea,
.suggestions,
.field-message,
.char-count {
	font-family: inherit;
	font-size: 0.85em;
}

.field input,
.field textarea {
	display: block;
}

.field textarea {
	resize: none;
}

.field {
	margin-bottom: 1rem;
}

.input-alphanum,
.field-radio {
	border-radius: var(--br-mid);
	padding: 1rem;
	width: calc(40ch - 0.5rem);
}

.input-alphanum {
	border: solid 1px var(--cl-background-shade-3);

	font-size: 1rem;

	background-color: var(--cl-background);
	box-shadow: 0 1px 2px hsl(0, 0%, 0%, 0.2);
	transition: border-color 400ms, box-shadow 800ms;
}

.input-label {
	display: inline-block;
	padding: 0 0.5rem;

	font-size: 0.8rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	color: var(--cl-foreground-shade-2);
	background-color: var(--cl-background);
	transform: translate(0.5rem, 0.75rem);

	transition: color 400ms, transform 200ms ease-out;
}

.input-alphanum:focus,
.input-alphanum:focus-visible {
	outline: none;
	border-color: var(--cl-emphasis);
	box-shadow: 0 1px 4px hsl(0, 0%, 0%, 0.3);
}

.field:has(.input-alphanum:focus) label,
.field:has(.input-alphanum:focus-visible) .input-label {
	color: var(--cl-emphasis);
	transform: translate(0.5rem);
}

.suggestions {
	position: relative;
	padding: 0 1rem;
	margin: 0rem;
	width: calc(40ch - 1.75rem);
	background-color: var(--cl-background-shade);
	border-radius: 0 0 2px 2px;
	transform: translateY(-8px);
	z-index: -1;
}

.suggestions li {
	margin-left: 0.5rem;
}

.suggestions li:first-child {
	padding-top: 1rem;
}

.suggestions li:last-child {
	padding-bottom: 0.5rem;
}

.suggestion {
	opacity: 0.5;
	cursor: pointer;
}

.selected {
	opacity: 1;
}

.field-message {
	display: inline;
	font-weight: bold;
}

.field-message a {
	display: inline-block;
	margin-left: 1ch;
}

.limit-exceeded {
	font-weight: 700;
}

.field-radio {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: auto auto;
	gap: 0.2rem;

	padding: 0.2rem;
	border: solid 1px var(--cl-background-shade-2);
	width: calc(40ch - 0.5rem + 1.6rem);

	background-color: var(--cl-background-shade);
}

.option-label {
	border: solid 1px transparent;
	color: var(--cl-midground);
	transition: 900ms;
}

.option-label:hover {
	background-color: var(--cl-background-shade-2);
	color: var(--cl-foreground-shade-2);
	transition: 300ms;
}

.option-input:checked + .option-label {
	border: solid 1px var(--cl-background-shade-3);
	color: var(--cl-foreground);
	background-color: var(--cl-background);
	box-shadow: 0 1px 2px hsl(0, 0%, 0%, 0.2);
}

.radio-option .option-input {
	display: none;
}

.option-label {
	display: block;
	text-align: center;
	border-radius: 0.4rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
