body {
	--header-padding: 2rem;

	display: grid;
	grid-template-columns: auto 1fr;
}

h1 {
	margin-bottom: 2rem;
}

main {
	padding: var(--header-padding);
}

#header {
	position: sticky;
	inset: 0;

	display: flex;
	flex-direction: column;

	padding: var(--header-padding);
	height: calc(100vh - calc(var(--header-padding) * 2));

	background-color: var(--cl-background-shade);
}

#nav {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.nav-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-link,
.nav-link:visited {
	text-decoration: none;
	color: var(--cl-foreground-shade-2);
}

.nav-link {
	display: flex;
	align-items: center;
	gap: 1ch;

	border: solid 2px transparent;
	cursor: pointer;
}

.item-count {
	font-size: 0.75rem;
	font-weight: 700;
	color: var(--cl-midground);
}

.nav-icon {
	width: 2ch;
	height: 2ch;
	opacity: 0.5;
}

h4 {
	margin-bottom: 0.5rem;
	border-top: solid var(--cl-background-shade-2) 1px;
	padding-top: 1rem;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: var(--cl-midground);
}
