:root {
	--emphasis-hue: 0;

	--cl-emphasis: hsl(var(--emphasis-hue), 30%, 50%);
	--cl-emphasis-shade: hsl(var(--emphasis-hue), 30%, 85%);
	--cl-background: white;
	--cl-background-shade: hsl(0, 0%, 95%);
	--cl-background-shade-2: hsl(0, 0%, 90%);
	--cl-midground: hsl(0, 0%, 50%);
	--cl-foreground: black;
	--cl-foreground-shade: hsl(0, 0%, 15%);
	--cl-foreground-shade-2: hsl(0, 0%, 30%);

	--box-shadow-dark: 2px 2px 8px hsl(0, 0%, 0%, 0.1);
	--box-shadow-light: 2px 2px 8px hsl(0, 0%, 0%, 0.5);
	--box-shadow: var(--box-shadow-dark);

	--br-light: 0.25rem;
	--br-mid: 0.5rem;
	--br-heavy: 1rem;

	color-scheme: light dark;

	font-family: sans-serif;
	font-style: normal;
	font-weight: 400;
	font-optical-sizing: auto;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	color: var(--cl-foreground);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--cl-background);
}

@media (prefers-color-scheme: dark) {
	:root {
		--cl-emphasis: var(--cl-emphasis-vivid);
		--cl-emphasis-shade: hsl(var(--emphasis-hue), 50%, 5%);
		--cl-background: hsl(0, 0%, 20%);
		--cl-background-shade: hsl(0, 0%, 10%);
		--cl-background-shade-2: hsl(0, 0%, 5%);
		--cl-midground: hsl(0, 0%, 50%);
		--cl-foreground: white;
		--cl-foreground-shade: hsl(0, 0%, 95%);
		--cl-foreground-shade-2: hsl(0, 0%, 90%);
	}
}

.method-override-wrapper,
.dialog-wrapper {
	display: inline;
}

.dialogue-actions {
	text-align: right;
}

ul {
	padding-inline-start: 1rem;
}

nav > ul {
	margin: 0;
	padding-inline-start: 0;
}

nav > ul li {
	display: inline;
}

nav > .dialogue-wrapper {
	display: inline;
}

dl div {
	margin-bottom: 1rem;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0;
}

caption {
	text-align: left;
}

table {
	table-layout: auto;
	border-collapse: collapse;
	text-align: left;
}

th,
td {
	padding: 0.25rem 0;
	padding-right: 1rem;
	border-bottom: 1px solid var(--cl-background-shade-2);
}

.field > input,
.field > label {
	display: block;
}

.field {
	margin-bottom: 1rem;
}

.field textarea {
	resize: none;
}

.field input,
.field textarea {
	display: block;
	padding: 0.25rem;
	width: calc(40ch - 0.5rem);
}

input,
button,
textarea,
.suggestions,
.field-message,
.char-count {
	font-family: inherit;
	font-size: 0.85em;
}

.suggestions {
	position: relative;
	padding: 0 1rem;
	margin: 0rem;
	width: calc(40ch - 1.75rem);
	background-color: var(--cl-background-shade);
	border-radius: 0 0 2px 2px;
	transform: translateY(-8px);
	z-index: -1;
}

.suggestions li {
	margin-left: 0.5rem;
}

.suggestions li:first-child {
	padding-top: 1rem;
}

.suggestions li:last-child {
	padding-bottom: 0.5rem;
}

.suggestion {
	opacity: 0.5;
	cursor: pointer;
}

.selected {
	opacity: 1;
}

.field-message {
	display: inline;
	font-weight: bold;
}

.field-message a {
	display: inline-block;
	margin-left: 1ch;
}

.limit-exceeded {
	font-weight: 700;
}

.radio-option {
	display: inline;
}

.radio-option > input {
	display: inline;
	width: auto;
}
