@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
	--emphasis-hue: 200;

	--cl-emphasis: hsl(var(--emphasis-hue), 50%, 40%);
	--cl-emphasis-shade: hsl(var(--emphasis-hue), 50%, 95%);
	--cl-background: #ffffff;
	--cl-background-shade: hsl(0, 0%, 95%);
	--cl-background-shade-2: hsl(0, 0%, 90%);
	--cl-background-shade-3: hsl(0, 0%, 80%);
	--cl-midground: hsl(0, 0%, 50%);
	--cl-foreground: black;
	--cl-foreground-shade: hsl(0, 0%, 15%);
	--cl-foreground-shade-2: hsl(0, 0%, 30%);

	--box-shadow-dark: 2px 2px 8px hsl(0, 0%, 0%, 0.1);
	--box-shadow-light: 2px 2px 8px hsl(0, 0%, 0%, 0.5);
	--box-shadow: var(--box-shadow-dark);

	--br-light: 0.25rem;
	--br-mid: 0.5rem;
	--br-heavy: 1rem;

	color-scheme: light dark;

	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-optical-sizing: auto;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	color: var(--cl-foreground);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--cl-background);
}

@media (prefers-color-scheme: dark) {
	:root {
		--cl-emphasis: var(--cl-emphasis-vivid);
		--cl-emphasis-shade: hsl(var(--emphasis-hue), 50%, 5%);
		--cl-background: hsl(0, 0%, 20%);
		--cl-background-shade: hsl(0, 0%, 10%);
		--cl-background-shade-2: hsl(0, 0%, 5%);
		--cl-background-shade-3: hsl(0, 0%, 30%);
		--cl-midground: hsl(0, 0%, 50%);
		--cl-foreground: white;
		--cl-foreground-shade: hsl(0, 0%, 95%);
		--cl-foreground-shade-2: hsl(0, 0%, 90%);
	}

	.nav-icon {
		filter: invert();
	}
}

* {
	margin: 0;
}

body {
	background-color: var(--cl-background-shade);
}

main {
	overflow: scroll;
	padding: 2rem;
	margin: 0.5rem 0 0.5rem 0.5rem;
	border: 1px solid var(--cl-background-shade-2);
	border-radius: var(--br-heavy) 0 0 var(--br-heavy);
	height: calc(100vh - calc(5rem + 2px));

	background-color: var(--cl-background);
	box-shadow: 0px 1px 2px hsl(0, 0%, 0%, 0.2);
}

dl div {
	margin-bottom: 1rem;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0;
}

.tables-container {
	display: flex;
	gap: 2rem;
}

.tables-container table {
	height: fit-content;
}

.display-none {
	display: none !important;
}
