dialog::backdrop {
	background-color: hsl(0, 0%, 50%, 0.5);
	background-image: linear-gradient(hsl(0, 0%, 50%, 0.05), hsl(0, 0%, 0%, 0.3));
	backdrop-filter: blur(2px);
	animation: fade 1600ms;
}

dialog {
	margin: auto;
	border: none;
	background: none;
	animation: shrink 400ms, fade 600ms;
}

.dialogue-content {
	overflow: hidden;

	border: solid 1px var(--cl-background-shade-2);
	border-radius: var(--br-heavy);
	max-width: 600px;

	background-color: var(--cl-background);
	box-shadow: 0 2px 16px hsl(0, 0%, 0%, 0.4);
}

.dialogue-content > * {
	padding: 1rem 2rem;
}

.dialogue-content header,
.dialogue-content .dialogue-actions {
	background-color: var(--cl-background-shade);
}

.dialogue-content header {
	border-bottom: solid 1px var(--cl-background-shade-2);
	box-shadow: 0 -1px 4px -3px hsl(0, 0%, 0%, 0.9) inset;
}

.dialogue-content .dialogue-actions {
	border-top: solid 1px var(--cl-background-shade-2);
	box-shadow: 0 1px 4px -3px hsl(0, 0%, 0%, 0.9) inset;
}

.dialogue-content h2 {
	font-size: 1.25rem;
	text-wrap: balance;
}

.dialogue-content section {
	margin: auto auto;
	overflow-y: scroll;
}

@keyframes shrink {
	from {
		transform: scale(1.05);
	}
	to {
		transform: scale(1);
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
