@use "../util" as u;

:root {
	--box-shadow-dark: 2px 2px 8px hsl(0, 0%, 0%, 0.1);
	--box-shadow-light: 2px 2px 8px hsl(0, 0%, 0%, 0.5);
	--box-shadow: var(--box-shadow-dark);

	--br-light: 0.25rem;
	--br-mid: 0.5rem;
	--br-heavy: 1rem;

	background-color: var(--background-primary);
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p,
dl,
dd {
	margin: 0;
}

input,
textarea,
button {
	font-family: inherit;
}

hr {
	width: 100%;
}

.display-none {
	display: none !important;
}

.text-centre {
	text-align: center;
}

.animation-none {
	animation: none !important;
}
