@use "../util" as u;

:root {
	--box-shadow-dark: 2px 2px 8px hsl(0, 0%, 0%, 0.1);
	--box-shadow-light: 2px 2px 8px hsl(0, 0%, 0%, 0.5);
	--box-shadow: var(--box-shadow-dark);

	--br-light: 0.25rem;
	--br-mid: 0.5rem;
	--br-heavy: 1rem;

	color-scheme: light dark;

	font-family: u.$font;
	font-style: normal;
	font-weight: 400;
	font-optical-sizing: auto;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	color: var(--cl-foreground);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--cl-background);
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(115deg, var(--cl-background), var(--cl-emphasis-shade));
}

input,
textarea,
button {
	font-family: inherit;
}

#root {
	border: solid 1px var(--cl-background-shade-3);
	border-radius: 24px;
	background: linear-gradient(45deg, var(--cl-background-shade), var(--cl-background-shade-2) 80%);
	box-shadow: 0 0.25rem 1.5rem hsl(0, 0%, 0%, 0.2);
}

main {
	border: 1px solid var(--cl-background-shade-2);
	border-radius: var(--br-heavy);
	background-color: var(--cl-background);
	box-shadow: 0px 1px 2px hsl(0, 0%, 0%, 0.2);
}

button {
	cursor: pointer;
}

hr {
	width: 100%;
}

dl div {
	margin-bottom: 1rem;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0;
}

.display-none {
	display: none !important;
}

.text-centre {
	text-align: center;
}

.animation-none {
	animation: none !important;
}
