body {
	--body-padding: 16px;

	box-sizing: border-box;
	padding: var(--body-padding);
	height: 100vh;
}

#root {
	display: flex;
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 1440px;
	height: calc(100vh - 2 * var(--body-padding));
}

main {
	flex: 1;
	overflow: scroll;
	padding: 2rem;
}
