@use "../util" as u;

:root {
	font-family: u.$font;
	font-style: normal;
	font-weight: 400;
	font-optical-sizing: auto;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	color: var(--text-primary);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
	margin: 0;
	color: var(--heading-primary);
}

h1 {
	font-size: u.rem(32);
	line-height: 1.2;
}

h2 {
	font-size: u.rem(24);

	&.small {
		font-size: u.rem(20);
	}
}

a {
	color: var(--text-primary);
}
