<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory | <%= title %></title>
		<link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon" />
		<link rel="stylesheet" href="/sass/main.css" />
		<script type="module" src="/scripts/form-handlers/newAuthorFormHandler.js"></script>
	</head>
	<body class="site">
		<div id="root" class="site__wrapper">
			<%- include("../partials/header", { backAnchor: true }) %>
			<main class="site__content">
				<h1><%= title %></h1>
				<form action="/authors" method="post" id="new-author" class="form">
					<fieldset id="name" class="form__fieldset">
						<div class="form__field">
							<label class="form__label" for="first-name">First name*</label>
							<input
								class="form__input form__input--alphanum"
								type="text"
								name="firstName"
								id="first-name"
								required
							/>
							<div class="form__field-message display-none">
								<svg
									class="icon icon--warning"
									width="100%"
									height="100%"
									viewBox="0 0 96 96"
									version="1.1"
									xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink"
									xml:space="preserve"
									xmlns:serif="http://www.serif.com/"
									style="
										fill-rule: evenodd;
										clip-rule: evenodd;
										stroke-linejoin: round;
										stroke-miterlimit: 2;
									"
								>
									<g transform="matrix(1.45783,0,0,1.33678,-22.4842,-20.2368)">
										<path
											d="M48.349,22.584C50.307,22.718 51.987,23.974 52.856,25.768L74.731,69.463L74.722,69.48C75.078,70.273 75.278,71.164 75.278,72.105C75.278,75.243 73.059,77.82 70.24,78.07L70.229,78.089L26.468,78.089L26.458,78.07C23.639,77.82 21.42,75.243 21.42,72.105C21.42,71.164 21.619,70.273 21.975,69.48L21.966,69.463L43.841,25.768C44.71,23.974 46.391,22.718 48.349,22.584ZM46.291,41.352L46.291,56.313C46.291,57.552 47.213,58.557 48.349,58.557C49.485,58.557 50.407,57.552 50.407,56.313L50.407,41.352C50.407,40.113 49.485,39.108 48.349,39.108C47.213,39.108 46.291,40.113 46.291,41.352ZM48.349,63.876C47.213,63.876 46.291,64.882 46.291,66.12C46.291,67.359 47.213,68.365 48.349,68.365C49.485,68.365 50.407,67.359 50.407,66.12C50.407,64.882 49.485,63.876 48.349,63.876Z"
										/>
									</g>
								</svg>
								<span class="form__field-message-content"></span>
							</div>
						</div>
						<div class="form__field">
							<label class="form__label" for="last-name">Surname*</label>
							<input
								class="form__input form__input--alphanum"
								type="text"
								name="lastName"
								id="last-name"
								required
							/>
							<div class="form__field-message display-none">
								<svg
									class="icon icon--warning"
									width="100%"
									height="100%"
									viewBox="0 0 96 96"
									version="1.1"
									xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink"
									xml:space="preserve"
									xmlns:serif="http://www.serif.com/"
									style="
										fill-rule: evenodd;
										clip-rule: evenodd;
										stroke-linejoin: round;
										stroke-miterlimit: 2;
									"
								>
									<g transform="matrix(1.45783,0,0,1.33678,-22.4842,-20.2368)">
										<path
											d="M48.349,22.584C50.307,22.718 51.987,23.974 52.856,25.768L74.731,69.463L74.722,69.48C75.078,70.273 75.278,71.164 75.278,72.105C75.278,75.243 73.059,77.82 70.24,78.07L70.229,78.089L26.468,78.089L26.458,78.07C23.639,77.82 21.42,75.243 21.42,72.105C21.42,71.164 21.619,70.273 21.975,69.48L21.966,69.463L43.841,25.768C44.71,23.974 46.391,22.718 48.349,22.584ZM46.291,41.352L46.291,56.313C46.291,57.552 47.213,58.557 48.349,58.557C49.485,58.557 50.407,57.552 50.407,56.313L50.407,41.352C50.407,40.113 49.485,39.108 48.349,39.108C47.213,39.108 46.291,40.113 46.291,41.352ZM48.349,63.876C47.213,63.876 46.291,64.882 46.291,66.12C46.291,67.359 47.213,68.365 48.349,68.365C49.485,68.365 50.407,67.359 50.407,66.12C50.407,64.882 49.485,63.876 48.349,63.876Z"
										/>
									</g>
								</svg>
								<span class="form__field-message-content"></span>
							</div>
						</div>
						<div class="form__field-message display-none">
							<svg
								class="icon icon--warning"
								width="100%"
								height="100%"
								viewBox="0 0 96 96"
								version="1.1"
								xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xml:space="preserve"
								xmlns:serif="http://www.serif.com/"
								style="
									fill-rule: evenodd;
									clip-rule: evenodd;
									stroke-linejoin: round;
									stroke-miterlimit: 2;
								"
							>
								<g transform="matrix(1.45783,0,0,1.33678,-22.4842,-20.2368)">
									<path
										d="M48.349,22.584C50.307,22.718 51.987,23.974 52.856,25.768L74.731,69.463L74.722,69.48C75.078,70.273 75.278,71.164 75.278,72.105C75.278,75.243 73.059,77.82 70.24,78.07L70.229,78.089L26.468,78.089L26.458,78.07C23.639,77.82 21.42,75.243 21.42,72.105C21.42,71.164 21.619,70.273 21.975,69.48L21.966,69.463L43.841,25.768C44.71,23.974 46.391,22.718 48.349,22.584ZM46.291,41.352L46.291,56.313C46.291,57.552 47.213,58.557 48.349,58.557C49.485,58.557 50.407,57.552 50.407,56.313L50.407,41.352C50.407,40.113 49.485,39.108 48.349,39.108C47.213,39.108 46.291,40.113 46.291,41.352ZM48.349,63.876C47.213,63.876 46.291,64.882 46.291,66.12C46.291,67.359 47.213,68.365 48.349,68.365C49.485,68.365 50.407,67.359 50.407,66.12C50.407,64.882 49.485,63.876 48.349,63.876Z"
									/>
								</g>
							</svg>
							<span class="form__field-message-content"></span>
						</div>
					</fieldset>
					<div class="form__field">
						<label class="form__label" for="nationality">Nationality*</label>
						<input
							class="form__input form__input--alphanum"
							type="text"
							name="nationality"
							id="nationality"
							placeholder="Start typing to show suggestions"
							required
						/>
						<ul id="nationality-suggestions" class="form__input-suggestions"></ul>
						<div class="form__field-message display-none">
							<svg
								class="icon icon--warning"
								width="100%"
								height="100%"
								viewBox="0 0 96 96"
								version="1.1"
								xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xml:space="preserve"
								xmlns:serif="http://www.serif.com/"
								style="
									fill-rule: evenodd;
									clip-rule: evenodd;
									stroke-linejoin: round;
									stroke-miterlimit: 2;
								"
							>
								<g transform="matrix(1.45783,0,0,1.33678,-22.4842,-20.2368)">
									<path
										d="M48.349,22.584C50.307,22.718 51.987,23.974 52.856,25.768L74.731,69.463L74.722,69.48C75.078,70.273 75.278,71.164 75.278,72.105C75.278,75.243 73.059,77.82 70.24,78.07L70.229,78.089L26.468,78.089L26.458,78.07C23.639,77.82 21.42,75.243 21.42,72.105C21.42,71.164 21.619,70.273 21.975,69.48L21.966,69.463L43.841,25.768C44.71,23.974 46.391,22.718 48.349,22.584ZM46.291,41.352L46.291,56.313C46.291,57.552 47.213,58.557 48.349,58.557C49.485,58.557 50.407,57.552 50.407,56.313L50.407,41.352C50.407,40.113 49.485,39.108 48.349,39.108C47.213,39.108 46.291,40.113 46.291,41.352ZM48.349,63.876C47.213,63.876 46.291,64.882 46.291,66.12C46.291,67.359 47.213,68.365 48.349,68.365C49.485,68.365 50.407,67.359 50.407,66.12C50.407,64.882 49.485,63.876 48.349,63.876Z"
									/>
								</g>
							</svg>
							<span class="form__field-message-content"></span>
						</div>
					</div>
					<div class="form__field">
						<label class="form__label" for="birth-year">Birth year</label>
						<input
							class="form__input form__input--alphanum"
							type="number"
							name="birthYear"
							id="birth-year"
							max="<%= new Date().getFullYear() %>"
						/>
						<div class="form__field-message display-none">
							<svg
								class="icon icon--warning"
								width="100%"
								height="100%"
								viewBox="0 0 96 96"
								version="1.1"
								xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xml:space="preserve"
								xmlns:serif="http://www.serif.com/"
								style="
									fill-rule: evenodd;
									clip-rule: evenodd;
									stroke-linejoin: round;
									stroke-miterlimit: 2;
								"
							>
								<g transform="matrix(1.45783,0,0,1.33678,-22.4842,-20.2368)">
									<path
										d="M48.349,22.584C50.307,22.718 51.987,23.974 52.856,25.768L74.731,69.463L74.722,69.48C75.078,70.273 75.278,71.164 75.278,72.105C75.278,75.243 73.059,77.82 70.24,78.07L70.229,78.089L26.468,78.089L26.458,78.07C23.639,77.82 21.42,75.243 21.42,72.105C21.42,71.164 21.619,70.273 21.975,69.48L21.966,69.463L43.841,25.768C44.71,23.974 46.391,22.718 48.349,22.584ZM46.291,41.352L46.291,56.313C46.291,57.552 47.213,58.557 48.349,58.557C49.485,58.557 50.407,57.552 50.407,56.313L50.407,41.352C50.407,40.113 49.485,39.108 48.349,39.108C47.213,39.108 46.291,40.113 46.291,41.352ZM48.349,63.876C47.213,63.876 46.291,64.882 46.291,66.12C46.291,67.359 47.213,68.365 48.349,68.365C49.485,68.365 50.407,67.359 50.407,66.12C50.407,64.882 49.485,63.876 48.349,63.876Z"
									/>
								</g>
							</svg>
							<span class="form__field-message-content"></span>
						</div>
					</div>
					<div class="form__field">
						<label class="form__label" for="biography">Biography</label>
						<textarea
							class="form__input form__input--alphanum form__input--textarea"
							name="biography"
							id="biography"
							cols="40"
							rows="5"
						></textarea>
						<span class="form__char-count">0/280</span>
						<div class="form__field-message display-none">
							<svg
								class="icon icon--warning"
								width="100%"
								height="100%"
								viewBox="0 0 96 96"
								version="1.1"
								xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								xml:space="preserve"
								xmlns:serif="http://www.serif.com/"
								style="
									fill-rule: evenodd;
									clip-rule: evenodd;
									stroke-linejoin: round;
									stroke-miterlimit: 2;
								"
							>
								<g transform="matrix(1.45783,0,0,1.33678,-22.4842,-20.2368)">
									<path
										d="M48.349,22.584C50.307,22.718 51.987,23.974 52.856,25.768L74.731,69.463L74.722,69.48C75.078,70.273 75.278,71.164 75.278,72.105C75.278,75.243 73.059,77.82 70.24,78.07L70.229,78.089L26.468,78.089L26.458,78.07C23.639,77.82 21.42,75.243 21.42,72.105C21.42,71.164 21.619,70.273 21.975,69.48L21.966,69.463L43.841,25.768C44.71,23.974 46.391,22.718 48.349,22.584ZM46.291,41.352L46.291,56.313C46.291,57.552 47.213,58.557 48.349,58.557C49.485,58.557 50.407,57.552 50.407,56.313L50.407,41.352C50.407,40.113 49.485,39.108 48.349,39.108C47.213,39.108 46.291,40.113 46.291,41.352ZM48.349,63.876C47.213,63.876 46.291,64.882 46.291,66.12C46.291,67.359 47.213,68.365 48.349,68.365C49.485,68.365 50.407,67.359 50.407,66.12C50.407,64.882 49.485,63.876 48.349,63.876Z"
									/>
								</g>
							</svg>
							<span class="form__field-message-content"></span>
						</div>
					</div>
					<button type="submit" class="form__button form__button--submit">Add author</button>
				</form>
			</main>
		</div>
	</body>
</html>
